extends ../layout
block body
  div(ng-controller="signIn").sign-in
    div.error(ng-bind="error")
    form(ng-submit="signIn($event)")
      label email
      input(type="email" ng-model="email")
      label password
      input(type="password" ng-model="password")
      input.signIn(
        type="submit"
        value="Sign In"
        ng-disabled="!(email && password)"
      )
      input.register(
        type="submit"
        value="Register"
        ng-disabled="!(email && password)"
        ng-click="signIn($event, true)"
      )
    div.about
      h3 mjournal is a clean, organized journal for notes and thoughts
      ul
        li uncluttered design lets you focus on your words
        li Entries are automatically timestamped and displayed chronologically
        li Use tags as a simple way to categorize related entries
        li Powerful full-text search lets you find entries quickly
