extends layout
block body
  div(ng-controller="entries")
    div.menu-bar
      include settings/menu.jade
    include entries/entries.jade
    quick-dialog(dialog-name="reSignIn")
      form(
        class="sign-in"
        ng-submit="signIn($event)"
        ng-controller="sign-in"
        ng-init="re=true")
        h2 Please sign in again
        div.error(ng-bind="error")
        label email
        input(type="email" ng-model="email")
        label password
        input(type="password" ng-model="password")
        input.signIn(
          type="submit"
          value="Sign In"
          ng-disabled="!(email && password)"
        )
