doctype html
html(ng-app=appName ng-cloak)
  head(ng-controller="theme")
    title mjournal - minimalist journaling
    link#theme(rel="stylesheet" href=css)
    link(href="/favicon.png" type="image/png" rel="icon")
    link(href="//fonts.googleapis.com/css?family=Alice"
      rel="stylesheet" type="text/css")
    meta(name="x-app-version" value=appVersion)
  body
    //- .adaptive
    h1.app-name
      a(href="/")= appName
    h2.app-tag minimalist journaling
    block body
    block scripts
      != sharify.script()
      script(src="/mjournal.js?v=" + appVersion)
