div.toolbar
  button.previous(
    ng-click="previous()",
    ng-disabled="disablePrevious")
    span.fullText Previous Entries
    span.smallText &larr;
  button.next(
    ng-click="next()",
    ng-disabled="disableNext")
    span.fullText Next Entries
    span.smallText &rarr;
  input(
    type="text"
    placeholder=" search entries..."
    ng-model="textSearch" ng-keypress="searchKeypress($event)")
  button.clearTextSearch(
    ng-class="{hidden: !textSearch}"
    ng-click="clearTextSearch()") clear
div.notebook
  div.page
    div.entries
      div.entry(ng-repeat="entry in entries")
        div.created.meta(ng-bind="entry.created | date:'medium'")
        p.body(ng-model="entry.body" edit-text ng-change="update(entry)")
        tags-input.meta(
          ng-model="entry.tags"
          on-tag-removed="updateTags(entry)"
          on-tag-added="updateTags(entry)"
        )
          auto-complete(source="autoCompleteTags($query)" min-length="2")
  label.new Type a new entry below. SHIFT-ENTER to save.
  p.body.new(ng-keyup="create($event)" contenteditable="true")
  tags-input(
    ng-model="newEntryTags"
    replace-spaces-with-dashes="false"
    ng-keyup="create($event)"
  )
    auto-complete(source="autoCompleteTags($query)" min-length="2")
