extends ../layout
block body
  div(ng-app="mjournal", ng-controller="EntriesController")
    a.sign-out(href="/sign-out") Sign Out
    div.toolbar
      button.previous(ng-click="previous()") Previous Entries
      input(type="text", placeholder=" search entries...", ng-model="textSearch", ng-keypress="searchKeypress($event)")
      button.next(ng-click="next()", ng-show="page > 1") Next Entries
    div.notebook
      div.page
        div.entries
          div.entry(ng-repeat="entry in entries")
            div.created.meta(ng-bind="entry.created | date:'medium'")
            p.body(
              ng-model="entry.body",
              edittext,
              ng-change="update(entry)")
            img.add-tag.meta(
              ng-click="entry.addTag = !entry.addTag", src="/tag.png", alt="Add tag",
              width="24px")
            input.tags.meta(
              type="text",
              ng-model="entry.newTag",
              ng-keydown="newTagKeydown($event, entry)",
              ng-if="entry.addTag",
              focus-me="true"
            )
            ul.meta(mj-tags="entry")
      p.body.new(ng-keydown="create($event)", contenteditable="true")
      input.tags.new(ng-model="newEntryTags", placeholder=" tags...")
